:global .SillyCIAPart1 {
    background: beige;
    padding: 16px;
    max-width: 600px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

:global .SillyCIAPart1 img {
    object-fit: contain;
}
    
:global .SillyCIAPart1 p {
    padding: 0 1rem;
}

:global .SillyCIAPart1 h1,
:global .SillyCIAPart1 h2
{
    text-align: center;
}

@media (max-width: 620px) {
    :global .SillyCIAPart1 img {
        width: 80%;
        align-self: center;
    }
    
    :global .SillyCIAPart1 h1 {
        font-size: 1.4rem;
    }

    :global .SillyCIAPart1 h2 {
        font-size: 1.2rem;
    }
}
